.pet-bubble-settings {
  height: 600px;
  width: min(
    800px,
    calc(
      100vw - var(--pet-width) - var(--pet-window-padding) -
        var(--pet-window-padding) - var(--pet-bubble-gap)
    )
  );
  color: #0d1014;
  display: flex;
  flex-direction: column;
  &:deep(.arco-scrollbar) {
    overflow: hidden;
    flex: 1;
    .arco-scrollbar-container {
      overflow: auto;
      height: 100%;
      .pet-bubble-settings-list {
        --settings-card-padding: 12px;
        --system-setting-row-padding: 9px;
        --system-setting-description-font-size: 11px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
// 全局样式覆盖
:global(.pet-bubble-settings-popconfirm) {
  min-width: 272px;
  padding: 18px;
  border-radius: 12px;
  .arco-popconfirm-body {
    margin-bottom: 18px;
  }
  .arco-popconfirm-footer {
    & > button {
      min-width: 72px;
      margin-left: 10px;
    }
  }
}
