.app-sidebar {
  flex-shrink: 0;
  width: 72px;
  height: 100%;
  background: @color-gray-100;
  display: flex;
  .app-sidebar-content {
    width: 71px;
    display: flex;
    flex-direction: column;
    .app-sidebar-brand {
      flex-shrink: 0;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-app-region: drag;
      .app-sidebar-logo {
        width: 32px;
        height: 32px;
        -webkit-user-drag: none;
      }
    }
    .app-sidebar-nav {
      padding-top: @spacing-16;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: @spacing-8;
      .app-sidebar-nav-item {
        position: relative;
        width: 48px;
        height: 48px;
        padding: 0;
        border: none;
        border-radius: @radius-8;
        color: @color-gray-800;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.2s ease;
        &:hover {
          color: @color-brand-600;
          background: @color-brand-100;
        }
        &.app-sidebar-nav-item-active {
          color: @color-brand-600;
          background: @color-brand-200;
        }
        .app-sidebar-nav-badge {
          position: absolute;
          top: 8px;
          right: 8px;
          width: 8px;
          height: 8px;
          border-radius: @radius-pill;
          background: @color-brand-600;
          box-shadow: 0 0 0 2px @color-gray-100;
        }
      }
    }
  }
  .app-sidebar-divider {
    flex-shrink: 0;
    width: 1px;
    height: 100%;
    background: @color-gray-500;
  }
}
