.shred-page {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: @spacing-16;
  .shred-page-body {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }
}
