.pet-bubble-error {
  .pet-bubble-error-title {
    font-size: 14px;
    font-weight: 600;
    color: #0d1014;
    display: block;
  }

  .pet-bubble-error-description {
    margin: 5px 0 10px;
    color: #79828f;
    font-size: 11px;
    line-height: 1.55;
  }
}
