.cx-layout {
  display: flex;
  .cx-layout-heading {
    display: flex;
    flex-direction: column;
    .cx-layout-title {
      font-size: 12px;
      line-height: 18px;
      color: #0d1014;
    }
    .cx-layout-desc {
      font-size: 10px;
      line-height: 16px;
      color: #86909c;
    }
  }
  &.cx-layout-vertical {
    flex-direction: column;
    gap: 8px;
    .cx-layout-content {
      width: 100%;
    }
  }
  &.cx-layout-horizontal {
    align-items: center;
    gap: 12px;
    .cx-layout-heading {
      min-width: 0;
      flex: 1;
    }
    .cx-layout-content {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }
  }
  &.cx-layout-emphasis {
    .cx-layout-heading {
      .cx-layout-title {
        font-weight: 600;
      }
    }
  }
}
