.pet-character {
  position: absolute;
  top: 50%;
  right: var(--pet-window-padding);
  -webkit-app-region: no-drag;
  height: var(--pet-height);
  width: var(--pet-width);
  border-radius: 18px;
  transform: translateY(-50%);
  .pet-character-image {
    position: relative;
    z-index: 1;
    pointer-events: none;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
  }
}
