:global(html[data-app-view='pet']),
:global(html[data-app-view='pet'] body),
:global(html[data-app-view='pet'] #app) {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  background: transparent;
}

.pet-view {
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-app-region: no-drag;
  height: 100%;
  width: 100%;
  background: transparent;
}

:global(.pet-bubble-popover) {
  -webkit-app-region: no-drag;
  width: auto;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;

  .arco-popover-content {
    width: max-content;
  }
}

:global(.pet-bubble-popover-arrow) {
  display: none;
}
