:global(html[data-app-view='pet']),
:global(html[data-app-view='pet'] body),
:global(html[data-app-view='pet'] #app) {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  background: transparent;
}

.pet-view {
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-app-region: no-drag;
  height: 100%;
  width: 100%;
  background: transparent;
}
