.shred-actions {
  width: 360px;
  padding: 16px;
  transform: scale(var(--shred-actions-scale, 1));
  transform-origin: top left;
  text-align: left;
  .shred-actions-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
