.pet-character {
  position: absolute;
  -webkit-app-region: no-drag;
  border-radius: 18px;
  .pet-character-image {
    position: relative;
    z-index: 1;
    pointer-events: none;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
  }
  &.pet-character-mirrored {
    .pet-character-image {
      transform: scaleX(-1);
    }
  }
}
